%p
  %strong Commenter:
  = comment.commenter
%p
  %strong Comment:
  = comment.body
%p
  = link_to 'Destroy Comment', [comment.article, comment], method: :delete,
    data: { confirm: 'Are you sure?' }